# Binaries for programs & plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.out

# Dependency directories (remove the comment below to include it)
# vendor/

node_modules
.idea

README-verbose.md